@using WebsiteHocAVOnline.Models
@model List<CauHoi>
@{
    ViewBag.Title = "EndExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="total-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12  d-block text-center">
                <div class="form-total">
                    <h1 style="text-align: center;">Kết thúc kiểm tra! </h1><br />

                    <h2 style="text-align:center;">Điểm của bạn là: @TempData["score"] </h2>

                    <a style="text-align:center;" class="btn btn-success" href="/Quiz/EditExam?id=@TempData["examid"]">Xem đáp án</a>

                </div>

            </div>
        </div>
    </div>
</div>
