@model WebsiteHocAVOnline.Models.Category

@{
    ViewBag.Title = "SelectIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="test-online">
    <div class="container">
        <div class="row">
            <div class="test-online__time">

                <div class="title-content text-center">
                    <p>
                        Hệ thống bài kiểm tra, đề thi trắc nghiệm và tự luận được thiết kế bám theo cấu trúc chương trình trong sách giáo khoa hiện hành giúp học sinh rèn luyện năng cao trình độ của bản thân.
                    </p>
                    <p>
                        Với các đề thi được biên soạn bài bản tương tự các đề thi thực tế giúp mọi
                        người dễ dàng làm quen và đánh giá trình độ hiện tại. Từ đó có kế hoạch học tập phù hợp
                    </p>
                    <p>
                        Đề thi thử được thực hiện theo format mới, có chấm điểm và giải thích chi tiết giúp bạn đánh giá chính
                        xác điểm hiện tại đặc biệt website dễ sử dụng và hoàn toàn miễn phí phù hợp với tất cả mọi người
                    </p>
                </div>
            </div>
            <div class="text-online__test  w-100">
                <h3 class="pb-5 pt-4" style="text-align:center; text-transform: uppercase ;">Trắc nghiệm Toeic miễn phí</h3>
                <div class="form-content">
                    <div class="container">
                        <div class="row ">
                            <div class="col-4 text-center m-auto">
                                @using (Html.BeginForm())
                                {

                                    <div class="form-horizontal d-flex">

                                        @Html.DropDownList("catGet", ViewBag.List as SelectList, "---Lựa chọn loại test---", htmlAttributes: new { @class = "form-control" })

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Bắt đầu thi" class="btn btn-success" />
                                            </div>
                                        </div>

                                    </div>}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>