
@{
    ViewBag.Title = "Introduce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Introduce</h2>
<div class="gioithieu mt-5">
    <div class="container">
        <div class="row">
            <h2>Tài liệu luyện thi TOEIC cấp tốc</h2>
            <div class="gioithieu-content">
                <p>Cảm ơn bạn đã ghé thăm!</p>
                <p>
                    Trang web là nơi các bạn có thể tìm thấy nhiều tài liệu hữu ích về bài thi TOEIC.
                    Hy vọng ở đây các bạn sẽ có được những trải nghiệm học tập thú vị và có thêm nhiều kiến thức
                    cũng như kỹ năng làm bài TOEIC nói riêng và tiếng Anh nói chung!
                </p>

                <h2>Ưu điểm khi thi TOEIC</h2>
                <ul>
                    <li><strong>TOEIC</strong> hiện được sử dụng rộng rãi tại hơn 150 quốc gia trên thế giới, được hơn 14.000 tổ chức sử dụng để đánh giá trình độ sử dụng tiếng Anh trong môi trường làm việc quốc tế.</li>
                    <li><strong>TOEIC</strong> đã và đang được sử dụng làm chuẩn đầu ra bắt buộc/ điều kiện chuyển đổi điểm Anh ngữ của 325 trường Đại học/Cao đẳng tại Việt Nam.</li>
                    <li><strong>TOEIC</strong> là tiêu chuẩn tuyển dụng bắt buộc đối với ứng viên tại hơn 450 đơn vị Tập đoàn, Công ty lớn, Ngân hàng, DN Công nghệ thông tin...nơi có yêu cầu sử dụng Anh ngữ nhiều trong công việc.</li>
                    <li><strong>TOEIC</strong> là điều kiện đầu vào tại nhiều trường đại học trên thế giới như: Anh, Hà Lan, Mỹ, Canada, Đức, Hy Lạp...</li>
                    <li><strong>TOEIC</strong> giúp cải thiện khả năng tiếng Anh toàn diện: nghe, nói, đọc, viết giúp bạn có việc làm trong mơ, mức thu nhập cao, cơ hội thăng tiến trong công việc.</li>
                </ul>

               
            </div>
        </div>
    </div>
</div>
