
@{
    ViewBag.Title = "Introduce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gioithieu mt-5">
    <div class="container">
        <div class="row">
            <h2>Website Học Anh Văn Online</h2>
            <div class="gioithieu-content">
                <p>Cảm ơn bạn đã ghé thăm!</p>
                <p>
                    Trang web là nơi các bạn có thể tìm thấy nhiều tài liệu hữu ích cho những ai đang có nhu cầu học anh văn.
                    Hy vọng ở đây các bạn sẽ có được những trải nghiệm học tập thú vị và có thêm nhiều kiến thức về tiếng anh !

                </p>

                <h2>Ưu điểm khi học</h2>
                <ul>
                    <li><strong>Giúp rèn luyện trí não</strong> Lợi ích của tiếng Anh đầu tiên này không phải quá bất ngờ, nhưng cụ thể rèn luyện như thế nào thì chưa chắc bạn biết rõ. Các nhà khoa học đã chứng minh học ngôn ngữ là một trong những cách hàng đầu kích thích não hoạt động mạnh mẽ nhất..</li>
                    <li><strong> Rèn luyện mắt</strong> Lợi ích của việc học Tiếng Anh này cũng đúng với việc học nói chung. Đôi mắt của bạn trong quá trình học từ, học đọc, học qua video, xem phim,… sẽ được rèn luyện thường xuyên.</li>
                    <li><strong>Tăng triển vọng nghề nghiệp</strong> Một số ngành nghề bắt buộc nhân viên phải thành thạo ngoại ngữ như hàng không, kỹ sư máy tính, Marketing, du lịch, phim ảnh nếu không muốn vuột hết cơ hội phát triển sự nghiệp.</li>
                    <li><strong>Giúp bạn giao tiếp được ở nước ngoài</strong> Khi hỏi lý do bạn cần học tiếng Anh, rất nhiều người trả lời rằng là do họ muốn đi du lịch, công tác hay thậm chí là du học, định cư tại nước ngoài. Tiếng Anh rõ ràng là một hành trang không thể thiếu rồi!</li>
                </ul>

               
            </div>
        </div>
    </div>
</div>
